[{lager, [
    {error_logger_hwm, 500},
    {handlers, [
        {lager_console_backend, [info, {lager_default_formatter,[{eol, "\r\n"}]},
          {formatter_config, 
              [date, "T", time,",",http_user_agent, ",", remote_addr,":",remote_port,",",request_method, ",",status, ",",request_time,",", body_bytes_sent,"\n"]
            }]},
        {lager_file_backend, [{file, "access.log"}, {level, info}, {formatter, lager_default_formatter},
            {formatter_config, 
              [date, "T", time,",",http_user_agent, ",", remote_addr,":",remote_port,",",request_method, ",",status, ",",request_time,",", body_bytes_sent,"\n"]
            }]}
    ]}
  ]}].